body {
    background-color: #36393e;
    padding-left: 200px;
}

#name {
    color: #5865F2;
    font-size: 50px;
}

#clicker {
    background-color:rgba(255, 0, 0, 0.25);
    border: solid;
    border-radius: 25px;
    border-color: #5865F2;
    border-width: 5px;
    width: 1500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5865F2;
    font-size: 50px;
}

.stats {
    color: #5865F2;
    font-size: 25px;
}